{{ define "main" }}
{{- $s := .Site.ThemeSettings -}}
{{- $lang := .Site.Language -}}
{{- $inTree := partial "tree-has.html" (dict "site" .Site "url" .Page.RelPermalink) -}}
{{- $toc := and $s.show_toc (partial "toc-count.html" .Page) -}}
{{- $updated := and $s.show_updated (not (time.IsZero .Page.Lastmod)) -}}
<div class="doc{{ if $toc }} with-toc{{ end }}">
  <article class="doc-body">
    {{- if $inTree }}{{ partial "crumb.html" . }}{{ end }}
    <header class="doc-header">
      <h1>{{ .Page.Title }}</h1>
      {{- with .Page.Params.description }}
      <p class="lead">{{ . }}</p>
      {{- end }}
    </header>
    {{- if $toc }}{{ partial "toc.html" (dict "page" .Page "lang" $lang "inline" true) }}{{ end }}
    <div class="prose">{{ .Page.Content }}</div>
    {{- if or $updated $inTree }}
    <footer class="doc-footer">
      {{- if $updated }}
      <p class="updated">{{ partial "t.html" (dict "k" "updated" "lang" $lang "t" .Page.Lastmod) }}</p>
      {{- end }}
      {{- if $inTree }}{{ partial "pager.html" . }}{{ end }}
    </footer>
    {{- end }}
  </article>
  {{- if $toc }}
  <aside class="doc-aside">{{ partial "toc.html" (dict "page" .Page "lang" $lang) }}</aside>
  {{- end }}
</div>
{{ end }}
